@charset "UTF-8";
@font-face {
    font-family: titulo;
    src: url(fontes/Wonderly.otf);
}
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --titulos:titulo;
    --texto:texto;
}
html,body{
    min-height:100vh;
    background-color:rgb(0, 0, 0)
}
header{
    background-image: linear-gradient(to right, rgb(0, 0, 0),rgb(8, 8, 63),rgb(0, 0, 0));
    color: white;
    text-align: center;
}
header h1{
    font-family: var(--titulos);
    padding-top: 30px;
    font-variant: small-caps;
    font-size: 3em;
    text-shadow: 1px 1px 2px black;

}
header h4{
    font-family: var(--texto);
    padding-bottom: 30px;
    font-weight: 100;
    text-shadow: 1px 1px 2px black;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section{
    max-width: 1000px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    margin: auto;
    text-align: center;
    
}
section p{
    padding-bottom: 2em;
    margin: auto;
}
#logo{
    width: 200px;
    height: 50px;
    border-radius: 10px 10px;
    
    
}
#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}

.normal{
    background-color: rgb(241, 231, 231);
    background-image: url(https://img.freepik.com/fotos-gratis/cartao-branco-amassado_95678-119.jpg?semt=ais_hybrid);
    color: black;
}
.imagem{
    background-color: rgb(146, 132, 132);
    color: white;
    text-shadow: 0.5px 0.5px 0.5px black;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.589);
    background-attachment: fixed;
}
.imagem>p {
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.308);
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}