@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html,body{
    text-align: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 0px #101a66;
}
/*Orientação Retrato*/
@media screen and (orientation:portrait) {
    body{
       background-image: url(../imagens/cev-portrait.jpg);
       background-position: center bottom;
    }
}
/*Orientação Paisagem*/
@media screen and (orientation:landscape){
    body{
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }
}
